:root {
  --border-radius: 2px;

  --primary: #0f6dff;
  --bg0: #eaeaf5;
  --bg1: #dadae6;
  --bg2: #cbcbd6;
  --border: #b8b8c7;
  --fg0: #1c1c1e;
  --select-icon-url: url("data:image/svg+xml,%3Csvg width='292' height='292' viewBox='0 0 292 292' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Path' fill='%23222222' stroke='none' d='M 287 69 C 283.606537 65.469971 278.895844 63.513214 274 63.600006 L 18.4 63.600006 C 13.4 63.600006 9.1 65.400009 5.5 69 C 1.984143 72.328568 -0.005267 76.958466 -0 81.800003 C -0 86.800003 1.8 91.100006 5.4 94.699997 L 133.399994 222.600006 C 137 226.200012 141.199997 228 146.199997 228 C 151.199997 228 155.399994 226.200012 159 222.600006 L 287 94.600006 C 290.5 91.100006 292.399994 86.800003 292.399994 81.800003 C 292.399994 76.800003 290.5 72.600006 286.899994 69 Z'/%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #4589ee;
    --bg0: #0f0f11;
    --bg1: #1a1a1e;
    --bg2: #222228;
    --border: #44444b;
    --fg0: #efeffa;
    --select-icon-url: url("data:image/svg+xml,%3Csvg width='292' height='292' viewBox='0 0 292 292' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Path' fill='%23ffffff' stroke='none' d='M 287 69 C 283.606537 65.469971 278.895844 63.513214 274 63.600006 L 18.4 63.600006 C 13.4 63.600006 9.1 65.400009 5.5 69 C 1.984143 72.328568 -0.005267 76.958466 -0 81.800003 C -0 86.800003 1.8 91.100006 5.4 94.699997 L 133.399994 222.600006 C 137 226.200012 141.199997 228 146.199997 228 C 151.199997 228 155.399994 226.200012 159 222.600006 L 287 94.600006 C 290.5 91.100006 292.399994 86.800003 292.399994 81.800003 C 292.399994 76.800003 290.5 72.600006 286.899994 69 Z'/%3E%3C/svg%3E");
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 12pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--fg0);
  background: var(--bg0);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
b,
strong,
th {
  font-weight: 700;
}

li {
  line-height: 1.6em;
}

p {
  display: block;
  line-height: 1.6em;
}

a {
  color: var(--primary);
}

/* TABLES */

table {
  width: fit-content;
  border: 1px solid var(--bg1);
  background: var(--bg1);
  border-radius: var(--border-radius);
}

th {
  background-color: var(--bg1);
}

td {
  background: var(--bg0);
}

td,
th {
  text-align: left;
  padding: 8px;
}

/* INPUT ELEMENTS */

button,
select,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
  cursor: pointer;
}

label {
  display: block;
  max-width: fit-content;
}

input,
select,
button {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  margin: 6px 0px;
  padding: 0.4em;
  max-width: fit-content;

  outline: none;
  appearance: none;

  font-size: 1rem;
  color: var(--fg0);
  background-color: var(--bg1);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

input:hover, select:hover, button:hover {
  background-color: var(--bg2);
}

select {
  padding-right: 2em;
  padding-left: 0.8em;

  background-image: var(--select-icon-url);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  position: relative;
  margin-right: 0.33em;
  margin-top: 0.31em;
}

input[type="checkbox"] {
  border-radius: 7px;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border: 1px solid var(--primary);
  background: var(--primary);
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.5' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

input[type="range"] {
  padding: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  appearance: none;
  -webkit-appearance: none;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.remove-btn {
  cursor: pointer;
}

/* LAYOUT */

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div {
  margin-right: 1rem;
}

.media-list {
  border-radius: var(--border-radius);
  background-color: var(--bg1);
  padding: 12px;
  max-height: 600px;
  width: 400px;
  overflow: auto;
}

.media-item {
  border-radius: var(--border-radius);
  padding: 6px;
  background-color: var(--bg1);
}

.media-title {
  font-weight: bold;
}

.media-item:nth-child(odd) {
  background-color: var(--bg2);
}

.grid2 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  column-gap: 1rem;
  row-gap: 0.4rem;
  align-items: center;
}

.grid2 > label {
  font-weight: bold;
}

@media (min-width: 500px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
